/*
-----------------------------------------------------------
* GENERAL CSS
--------------------
*/
.mt-5 {
  margin-top: 5px; }

.t-45 {
  top: 45px; }

.mb-15 {
  margin-bottom: 15px !important; }

.mr-10 {
  margin-right: 10px; }

.ftw {
  font-weight: 500 !important; }

.size-18 {
  font-size: 20px !important; }

.size-14 {
  font-size: 14px !important; }

.text-black {
  color: #333 !important; }

.p-10 {
  padding: 10px !important; }

.pr-10 {
  padding-right: 10px; }

.pt-0 {
  padding-top: 0px !important; }

.p-5 {
  padding: 5px; }

.mrl-10 {
  margin: 0px 10px; }

.btn--custom {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  background-color: #f4f5f5 !important;
  margin: 0px 10px !important; }

.text-center {
  text-align: center; }

.hide {
  display: none !important;
  visibility: hidden !important; }

.clipart-preview {
  height: 50px !important; }

.custom-preview-filter {
  text-align: center;
  background-color: #fff;
  color: #333 !important;
  display: block; }

.filter-horizontal {
  padding-bottom: 10px !important; }
  .filter-horizontal .col-20 {
    margin: 1px 1px !important;
    margin-bottom: 10px !important; }

.btn-process-upload {
  display: none;
  visibility: hidden; }

.select-font-custom {
  width: 100% !important; }

.text-data {
  border: 1px solid rgba(0, 0, 0, 0.229);
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0px !important; }

/*
-----------------------------------------------------------
* PAGE CONTENT CSS
--------------------
*/
.page--content-rjc {
  padding-top: 60px !important; }

.right--top-menu {
  position: absolute;
  right: 0px;
  top: 70px;
  width: 50px;
  height: 50px; }

.right--top-menu .floating-button {
  width: 40px;
  height: 40px;
  right: 8px;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.19), 0 1px 5px rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.19), 0 1px 5px rgba(0, 0, 0, 0.23); }

.left--bottom-menu {
  position: absolute;
  left: 0px;
  bottom: 60px;
  width: 50px;
  height: 50px; }

.left--bottom-menu .floating-button {
  width: 30px;
  height: 30px;
  right: 8px;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.19), 0 1px 5px rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.19), 0 1px 5px rgba(0, 0, 0, 0.23); }

.title--apps {
  margin-left: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 700; }

.toolbar-bottom {
  bottom: 0px;
  position: absolute;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.pages--white {
  background-color: #fff; }

.toolbar--inner-bottom {
  padding: 5px 10px !important; }

.content--picker-modal {
  background-color: aliceblue !important; }

.tabbar--main {
  font-size: 12px !important;
  font-weight: 700 !important; }

.tabbar-label {
  margin-left: 0px !important; }

.general-toolbar {
  height: 56px !important; }
  .general-toolbar a.link {
    padding-top: 5px !important; }
  .general-toolbar span.tabbar-label {
    overflow: visible;
    margin-top: 7px;
    font-size: 10px; }

.tabbar--secondary {
  font-size: 8px !important;
  margin-left: 0px !important;
  font-weight: 700 !important; }

.toolbar-event {
  opacity: 0;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  width: 100%;
  overflow-x: scroll;
  background-color: #f4f5f5 !important;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  pointer-events: none; }

.toolbar-event.show {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  pointer-events: auto; }

.toolbar-event .toolbar-inner {
  width: 100%;
  overflow-x: scroll; }

/*
-----------------------------------------------------------
* PICKER CSS
--------------------
*/
.title--picker {
  margin-left: 10px; }

.picker--custom {
  height: 200px; }

.picker--custom span {
  font-size: 12px; }

.picker--color {
  height: 130px;
  bottom: 68px; }

label.label-radio.radio-color input[type="radio"] ~ .item-inner {
  border: 1px solid #999999; }

label.label-radio.radio-color input[type="radio"]:checked ~ .item-inner {
  border: 3px solid #00afe8; }

label.label-radio.custom-preview-radio input[type="radio"] ~ .item-inner > img {
  width: calc(100% - 0px);
  margin: 0px; }

label.label-radio.custom-preview-radio input[type="radio"]:checked ~ .item-inner {
  border: 3px solid #00afe8; }

label.label-radio.custom-preview-radio input[type="radio"] ~ .item-inner {
  line-height: 0;
  text-align: center;
  display: block;
  margin: 3px;
  background-color: white;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 3px; }

.popup-teks .input-text {
  margin-bottom: 20px; }
  .popup-teks .input-text input {
    width: 100%;
    font-size: 18px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box; }

.color-list {
  white-space: nowrap;
  overflow-x: auto; }

.color-thumb {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin: 5px 5px 5px 5px; }

.main--navbar.navbar-hidden {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.main--content {
  overflow: hidden; }
  .main--content img {
    width: 100%;
    vertical-align: middle; }
  .main--content .main--inner {
    height: calc(100% - 72px) !important; }
    .main--content .main--inner .content--inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: -5px;
      width: 100%; }
  .main--content .center-menu {
    position: absolute;
    transform: translateY(-100%);
    top: 56px;
    left: 70px;
    right: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: auto;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    background: rgba(240, 240, 240, 0.6);
    border-radius: 0px 0px 8px 8px;
    z-index: 4;
    color: #2196f3;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .main--content .center-menu span {
      display: block;
      font-weight: bold;
      color: #2196f3; }
  .main--content .center-menu.show {
    transform: translateY(0%); }
  .main--content .show-hide-center-menu {
    background: rgba(94, 200, 28, 0.2);
    width: 35px;
    padding: 0px 10px 0px 10px;
    margin: 0 auto;
    line-height: normal;
    font-size: 18px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -16px; }

.main--content.align-top {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translateY(-56px) !important;
  transform: translateY(-56px) !important; }

.third-toolbar {
  opacity: 0;
  -webkit-transform: translateY(100%) !important;
  transform: translateY(100%) !important;
  transition: all 300ms;
  pointer-events: none; }
  .third-toolbar .object-title {
    font-size: 14px; }
  .third-toolbar .reset i {
    display: inline-block; }
  .third-toolbar .reset span {
    font-size: 12px;
    text-transform: capitalize; }
  .third-toolbar .page-content {
    padding: 10px !important;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: aliceblue !important; }
    .third-toolbar .page-content .value-input {
      margin: 5px;
      line-height: 30px;
      width: 40px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      background-color: white;
      border: 3px solid #e5e5e5;
      border-radius: 5px; }
    .third-toolbar .page-content .range-slider-custom {
      width: calc(100% - 69px);
      display: inline-block;
      vertical-align: middle;
      height: 20px; }
  .third-toolbar .toolbar-full-button {
    background-color: rgba(150, 150, 150, 0.3); }
    .third-toolbar .toolbar-full-button a.link {
      background-color: transparent !important;
      padding-top: 7px !important; }

.select-font-custom {
  width: 100%;
  font-size: 18px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box; }

.infinite-scroll {
  height: calc(100%) !important;
  background-color: rgba(150, 150, 150, 0.2);
  padding-bottom: 20px !important; }
  .infinite-scroll .row .col-25 {
    background: #fff;
    font-size: 12px;
    color: #555;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-bottom: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .infinite-scroll img {
    display: block;
    margin-bottom: 5px;
    width: 100%; }

.object-title-popup {
  font-size: 18px !important; }

.floating-toolbar {
  -webkit-transform: translateY(35%);
  transform: translateY(35%);
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  pointer-events: none; }

.floating-product-color {
  height: 50px !important;
  width: auto;
  margin: auto;
  max-width: 90%;
  background: rgba(220, 220, 220, 0.6) !important;
  bottom: 100px !important;
  z-index: 99;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow: visible; }

.floating-toolbar.show {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  pointer-events: auto; }

.floating-toolbar-caption {
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: -16px;
  background-color: rgba(94, 200, 28, 0.371);
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #333;
  font-size: 11px; }

.floating-scrollable .page-content {
  padding: 2px 10px 2px 10px !important;
  height: 50px;
  overflow: hidden;
  font-size: 12px; }
  .floating-scrollable .page-content .color-list {
    padding: 0px 10px 0px 10px;
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black, black, black, black, black, black, black, black, black, rgba(0, 0, 0, 0));
    -webkit-mask-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), black, black, black, black, black, black, black, black, black, rgba(0, 0, 0, 0));
    -webkit-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black, black, black, black, black, black, black, black, black, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, black, black, black, black, black, black, black, black, rgba(0, 0, 0, 0) t); }

.third-toolbar.single-color {
  height: 130px; }

.third-toolbar.single-color.show {
  opacity: 1;
  -webkit-transform: translateY(-40%) !important;
  transform: translateY(-40%) !important;
  transition: all 300ms;
  pointer-events: auto; }

.third-toolbar.format-font {
  height: 40px; }

.third-toolbar.format-font.show {
  opacity: 1;
  -webkit-transform: translateY(-130%) !important;
  transform: translateY(-130%) !important;
  transition: all 300ms;
  pointer-events: auto; }

.third-toolbar.outline-font {
  height: 200px; }

.third-toolbar.outline-font.show {
  opacity: 1;
  -webkit-transform: translateY(-27%) !important;
  transform: translateY(-27%) !important;
  transition: all 300ms;
  pointer-events: auto; }

.third-toolbar.shadow-font {
  height: 200px; }
  .third-toolbar.shadow-font .shadow-btn {
    width: 100%;
    margin-top: 5px; }

.third-toolbar.shadow-font.show {
  opacity: 1;
  -webkit-transform: translateY(-27%) !important;
  transform: translateY(-27%) !important;
  transition: all 300ms;
  pointer-events: auto; }

.third-toolbar.bentuk-font {
  height: 200px; }
  .third-toolbar.bentuk-font .bentuk-btn {
    width: 100%;
    margin-top: 5px; }

.third-toolbar.bentuk-font.show {
  opacity: 1;
  -webkit-transform: translateY(-27%) !important;
  transform: translateY(-27%) !important;
  transition: all 300ms;
  pointer-events: auto; }

.third-toolbar.overlay {
  height: 200px;
  overflow-y: hidden; }
  .third-toolbar.overlay .bentuk-btn {
    width: 100%;
    margin-top: 5px; }
  .third-toolbar.overlay .page-content {
    padding-bottom: 60px !important; }

.third-toolbar.overlay.show {
  opacity: 1;
  -webkit-transform: translateY(-27%) !important;
  transform: translateY(-27%) !important;
  transition: all 300ms;
  pointer-events: auto; }

.third-toolbar.spasi-font {
  height: 40px; }
  .third-toolbar.spasi-font .value-input {
    margin-left: 2px;
    line-height: 25px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    border: 3px solid #e5e5e5;
    border-radius: 5px; }
  .third-toolbar.spasi-font .range-slider-custom {
    width: calc(100% - 80px);
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    padding-right: 5px; }

.third-toolbar.spasi-font.show {
  opacity: 1;
  -webkit-transform: translateY(-130%) !important;
  transform: translateY(-130%) !important;
  transition: all 300ms;
  pointer-events: auto; }

.third-toolbar.filter {
  height: 200px;
  overflow-y: hidden; }
  .third-toolbar.filter .bentuk-btn {
    width: 100%;
    margin-top: 5px; }
  .third-toolbar.filter .page-content {
    padding-bottom: 60px !important; }

.third-toolbar.filter.show {
  opacity: 1;
  -webkit-transform: translateY(-27%) !important;
  transform: translateY(-27%) !important;
  transition: all 300ms;
  pointer-events: auto; }

.third-toolbar.mask {
  height: 200px;
  overflow-y: hidden; }
  .third-toolbar.mask .bentuk-btn {
    width: 100%;
    margin-top: 5px; }
  .third-toolbar.mask .page-content {
    padding-bottom: 60px !important; }

.third-toolbar.mask.show {
  opacity: 1;
  -webkit-transform: translateY(-27%) !important;
  transform: translateY(-27%) !important;
  transition: all 300ms;
  pointer-events: auto; }

.third-toolbar.susunan {
  height: 40px; }

.third-toolbar.susunan.show {
  opacity: 1;
  -webkit-transform: translateY(-130%) !important;
  transform: translateY(-130%) !important;
  transition: all 300ms;
  pointer-events: auto; }

.third-toolbar.flip {
  height: 40px; }

.third-toolbar.flip.show {
  opacity: 1;
  -webkit-transform: translateY(-130%) !important;
  transform: translateY(-130%) !important;
  transition: all 300ms;
  pointer-events: auto; }

.third-toolbar.posisi {
  height: 40px; }

.third-toolbar.posisi.show {
  opacity: 1;
  -webkit-transform: translateY(-130%) !important;
  transform: translateY(-130%) !important;
  transition: all 300ms;
  pointer-events: auto; }

.third-toolbar.putar {
  height: 40px; }
  .third-toolbar.putar .value-input {
    margin-left: 2px;
    line-height: 25px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    border: 3px solid #e5e5e5;
    border-radius: 5px; }
  .third-toolbar.putar .range-slider-custom {
    width: calc(100% - 80px);
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    padding-right: 5px; }

.third-toolbar.putar.show {
  opacity: 1;
  -webkit-transform: translateY(-130%) !important;
  transform: translateY(-130%) !important;
  transition: all 300ms;
  pointer-events: auto; }

canvas {
  display: block;
  width: 100%;
  margin-left: 0px; }

/*
 This css and associated images borrow heavily from the fantastic 
 chosen select box plugin.
 
 Copyright (c) 2011 Harvest http://getharvest.com
 MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
*/
.font-select {
  font-size: 16px;
  width: 100%;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.font-select .fs-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  z-index: 999; }

.font-select > a {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 34px;
  line-height: 34px;
  padding: 0 0 0 8px;
  color: #444;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.font-select > a span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  cursor: pointer; }

.font-select > a div {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 14px; }

.font-select > a div b {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 0.6em;
  color: #555; }

.font-select > a div b:after {
  content: "\25bc"; }

.font-select .fs-drop {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  top: 34px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.font-select .fs-results {
  margin: 0 4px 4px 0;
  max-height: 100px;
  width: 100%;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto; }

.font-select .fs-results li {
  line-height: 80%;
  padding: 7px 7px 8px;
  margin: 0;
  list-style: none;
  font-size: 18px; }

.font-select .fs-results li.active {
  background-color: #428bca;
  color: #fff;
  cursor: pointer; }

.font-select .fs-results li em {
  background: #feffde;
  font-style: normal; }

.font-select .fs-results li.active em {
  background: transparent; }

.font-select-active > a {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb; }

.font-select-active > a {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.font-select-active > a div {
  background: transparent;
  border-left: none; }

.font-select-active > a div b:after {
  content: "\25b2"; }

.tour-guide-popover {
  width: 200px; }

.tour-guide-container-wrapper {
  padding: 0px 10px; }

.tour-guide-container-wrapper,
.tour-guide-toolbar-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box; }

.tour-guide-toolbar-wrapper > .toolbar {
  height: 20px; }

.tour-guide-buttons-row {
  width: 100%;
  text-align: center; }

.tour-guide-button {
  color: #fff;
  border: none; }

.tour-guide-header {
  height: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 20px; }

.tour-guide-message {
  height: 20%;
  text-align: left; }

/*# sourceMappingURL=app.css.map */
